body {
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

nav li {
  float: left;
  display: flex;
  align-items: center;
}

nav li a, p, button {
  display: block;
  padding: 8px;
}

nav li p  {
  margin: 0px;
}

nav li a {
  color: black;
}

nav li button {
  border: none;
  background-color: #FFFFFF;
}

nav li img {
  width: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 25px;
  padding-left: 400px;
}

footer strong {
  display: none;
}

footer:hover strong {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: grey;
  display: block;
}

/*css for index.html*/

main {
  padding-top: 71.681px;
}

main div.top {
  border-bottom: 1px solid black;
  padding-left: 50px;
}

main div.top div.head_text h1, h3 {
  margin-left: 60px;
}

main div.top div.head_text h1 {
  font-size: 60px;
  line-height: 80px;
}

main div.top div.head_text h3 {
  font-size: 30px;
}

main div.top div.head_text {
  display: inline-block;
}

main div.top div.info_text {
  display: flex;
  justify-content: flex-start;
}

main div.top div.collumn {
    column-count: 2;
    column-gap: 0px;
    column-width: 100px
}

main div.top img {
  display: inline;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  right: 400px;
  width: 1000px;
  height: 250px;
}


main div.bottom div.text {
  margin: 16px;
}

main div.bottom div.text p {
  padding: 0px;
  max-width: 1000px;
}

/*css for info.html*/

main div.idea {
    column-count: 2;
    column-gap: 0px;
    column-width: 700px
}

main div.idea img {
  float: right;
  width: 500px;
  margin-top: 20px;
  margin-right: 30px;
}

main div.idea div.text {
 margin: 10px;
}

main div.idea div.text p {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

main div.idea div.text h1 {
  margin-left: 30px;
  margin-bottom: 10px;
}

main div.project {
    column-count: 2;
    column-gap: 0px;
    column-width: 700px
}

main div.project img {
  float: left;
  width: 500px;
  margin-top: 20px;
  margin-left: 30px;
}

main div.project div.text {
 margin: 10px;
 float: right;
}

main div.project div.text p {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: end;
  float: right;
}

main div.project div.text h1 {
  margin-right: 30px;
  margin-bottom: 10px;
  float: right;
}
